header{
    margin: 0;
}
body,html
{
font-family: Georgia, 'Times New Roman', Times, serif;
 text-align: center; 
 color: #000000;
 background-color: rgb(170, 166, 166);
 margin: 4%;
 font-size: 150%;
}

header{
    background-color: rgb(170, 166, 166);
}
h1{
    font-size: 60%;
    margin-top: 30px;
}
img{
    width: 30%;
    height: auto;
    margin-top: 30px;
    margin-right: 1000px;

}
p{
    font-size: 50%;
    margin-left: 75px;
    margin-bottom: 80px;
}
